.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav__menu,
.nav__address {
    display: none;
}

.menu-toggle {
    display: flex;
}

.menu-toggle-icon {
    fill: #2e2f42;
}

.mobile-menu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: white;
    padding: 72px 16px 40px;
    transform: translateX(101%);
}

.mobile-menu__close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    background-color: rgba(231, 233, 252, 0.1);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu__close-icon {
    fill: #2e2f42;
}

.mobile-menu__nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mobile-menu__address-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu__social-media-list {
    display: flex;
    justify-content: space-between;
}

.mobile-menu__social-media-item {
    width: 40px;
    height: 40px;
}

.mobile-menu__social-media-link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--clr-primary-brand);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu__social-media-icon {
    fill: #f4f4fd;
}

@media (768px <= width < 1158px) {
    .container--header {
        display: flex;
        justify-content: space-between;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: flex-start;
        gap: 120px;
    }

    .nav__menu {
        display: flex;
        gap: 40px;
    }

    .nav__address {
        display: block;
        padding: 16px 0;
    }

    .nav__address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .menu__nav-link,
    .menu__address-link {
        display: block;
    }
}

@media (width >= 1158px) {
    .container--header {
        display: flex;
        justify-content: space-between;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: flex-start;
        padding: 24px 0;
        gap: 76px;
    }

    .nav__menu {
        display: flex;
        gap: 40px;
    }

    .nav__address {
        display: block;
        padding: 24px 0;
    }

    .nav__address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .menu__nav-link,
    .menu__address-link {
        display: block;
    }
}
