.hero-section {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../../assets/images/mobile/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section .container {
    padding: 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.hero-title {
    max-width: 13.5rem;
}

@media (width < 768px) and (resolution < 192dpi) {
    .hero-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../../assets/images/mobile/hero-bg.webp);
    }
}

@media (width < 768px) and (resolution >= 192dpi) {
    .hero-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../../assets/images/mobile/hero-bg2x.webp);
    }
}

@media (768px <= width < 1158px) and (resolution < 192dpi) {
    .hero-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../../assets/images/tablet/hero-bg.webp);
    }
}

@media (768px <= width < 1158px) and (resolution >= 192dpi) {
    .hero-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../../assets/images/tablet/hero-bg2x.webp);
    }
}

@media (width >= 1158px) and (resolution < 192dpi) {
    .hero-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../../assets/images/desktop/hero-bg.webp);
    }
}

@media (width >= 1158px) and (resolution >= 192dpi) {
    .hero-section {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../../assets/images/desktop/hero-bg2x.webp);
    }
}

@media (768px <= width < 1158px) {
    .hero-section .container {
        padding: 112px 0;
        gap: 36px;
    }

    .hero-title {
        max-width: 31rem;
    }
}
