@import url(./utilities/reset.css);
@import url(./utilities/variable.css);
@import url(./utilities/typography.css);

@import url(./layout/header.css);
@import url(./layout/hero.css);
@import url(./layout/our-mission.css);
@import url(./layout/our-team.css);

body {
    font-family: var(--main-font);
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

/* ---------!!!!!! TEMPORARY STYLES. REMOVE BEFORE FINAL RELEASE !!!!!!!------- */
.temporary {
    display: none;
}
